.card{
    width:350px;
    height: 170px;
    margin: 10px auto;
    background-color: aliceblue;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    position: relative;
}

.card .img-ava{
    width:88px;
    left:10px;
    top: 37px; 
    display: inline-block;
    position: absolute;
}

.card .content{
    width: 250px;
    height: 170px;;
    display: inline-block;
    position: absolute;
    right: 0;
    text-align:left;
}

.align, .alignH{
    margin-left:12px;
    
}
.align{
    margin-top:10px;
    display: block
}
.alignH{
    margin-top:30px;
}
